# SERVER
APPLE_USERNAME=user@gmail.com
APPLE_APP_PASSWORD=abcd-efgh-ijkl-mnop
CALENDAR_IDS=family,personal,work
EXTERNAL_ICAL_URLS=https://calendars.icloud.com/holidays/us_en.ics

# UI
COLOR_SCHEME=dark
CALENDAR_COLORS=cyan,lime,periwinkle
BIRTHDAYS_COLOR=orange
EXTERNAL_ICAL_COLORS=red